<%= form_with model: supplier, url: url, method: verbo do |form|%>

<div>
<%=form.label :supplier_name%>
<%=form.text_field :supplier_name%>
</div>


<div>
<%=form.label :nit%>
<% if valor == 'ocultar'%>
  <%form.text_field :nit, class: 'hidden'%>
<% else %>
  <%=form.text_field :nit%>
<%end%>
</div>

<div>
<%=form.label :contact_person_name%>
<%=form.text_field :contact_person_name%>
</div>

<div>
<%=form.label :contact_person_number%>
<%=form.text_field :contact_person_number%>
</div>

<%= form.collection_select :bank_id, Bank.all, :id, :title %>
<div>
<%=form.label :count_number%>
<%=form.text_field :count_number%>
</div>

<div>
<%= form.submit%>
</div>

<%end%>
